.overlay {
  position: fixed;
  inset: 0; /* top, right, bottom, left 를 하나로 */
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal {
  background-color: #1e1e1e;
  color: #f0f0f0;
  border-radius: 10px;
  padding: 2rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  width: 100%;
}
