/* ===================================================================================================
  ▢ 파일명: /styles/Statistics.module.css
  ▢ 내용: 통계 페이지(/pages/dashboard/statistics.js) 스타일 css
  ▢ 작성일: 2025. 11. 24.(월)
  ▢ 작성자: 박수훈(shpark)
 =================================================================================================== */

/* =================================================
                    메인 컨테이너
 ================================================== */
.container {
  padding: 2rem;
  color: #f0f0f0;
}

.container h2 {
  margin-bottom: 1.5rem;
  font-size: 1.75rem;
  font-weight: 700;
}
